body{
    background-color:#eeeeee;
    font-family: Trirong;
  }
  .header{
    text-align: center;
    }
  .bas{
    font-size:36px;
  }
  .image{
    text-align:center;
    background-color:white;
  }
  main{
     margin:0 auto;
  }
  .soni{
    text-align:center;
  
  }
  .sonyer{
     padding: 0 200px;
  }